body {
  display: flex;
  justify-content: center;
  background-color: aqua;
  width: auto;
  height: 100%;
  background-image: url(https://cdnb.artstation.com/p/assets/images/images/024/538/827/original/pixel-jeff-clipa-s.gif?1582740711);
}

h1 {
  text-align: center;
  font-size: 23px;
}
.container {
  width: 250px;
  height: 480px;
  background-color: rgba(99, 34, 159, 0.739);
  padding-top: 30px;
  margin-top: 45px;
  border-radius: 2px 2px;
}

input {
  display: flex;
  padding: 2%;
  justify-content: center;
  margin: 10px;
}
